<h1>Program</h1>


<ul class="program">
    <li class="session">
        <span class="start">09:00</span>
        <span class="end">10:00</span>
        <span class="title">Appetite for Construction</span>
        <ul class="talks clearfix">
            <li>Alf-Egil Bogen</li>
            <li>Geir Førre</li>
        </ul>
    </li>
    <li class="session">
        <span class="start">10:20</span>
        <span class="end">12:00</span>
        <span class="title">The Kick Inside</span>
        <ul class="talks clearfix">
            <li>Martin Kupp</li>
            <li>Louise Helliksen</li>
            <li>Jeff Skinner</li>
            <li>Ville Kairamo</li>
        </ul>
    </li>
    <li class="session">
        <span class="start">12:00</span>
        <span class="end">13:00</span>
        <span class="title">Lunch Day Two</span>
    </li>
    <li class="session">
        <span class="start">12:10</span>
        <span class="end">12:20</span>
        <span class="title">Bus Transport to Partner Events</span>
    </li>
</ul>