@font-face {
  font-family: 'Klavika light';
  src: url('../fonts/KlavikaWebBasicLight.eot?') format('eot'), url('../fonts/KlavikaWebBasicLight.woff') format('woff');
}

html {
  height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Klavika light', 'Exo', sans-serif;
  font-size: 15px;
  height: 100%;
}

h1 {
  margin-bottom: 40px;
}


.content {
  padding: 2em 1em;
  height: 100%;
  background: transparent;
}

.table {

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

// Badges column
.highscores tr > td:first-child {
  width: 120px;
}

.techex-badge {
  display: block;
  background: transparent center center no-repeat;
  &.techex-badge-gold {
    height: 50px;
    width: 100px;
    background-size: 34px 50px;
    background-image: url('../images/badge_gold.png')
  }
  &.techex-badge-silver {
    height: 40px;
    width: 100px;
    background-size: 27px 40px;
    background-image: url('../images/badge_silver.png')
  }
  &.techex-badge-bronze {
    height: 30px;
    width: 100px;
    background-size: 20px 30px;
    background-image: url('../images/badge_bronze.png')
  }
}

.session {
  &.session-active {
    background: #eee;
  }
  &.session-ended {
    color: #ccc;
    text-decoration: line-through;
  }
}

