@font-face {
  font-family: 'Klavika light';
  src: url('../fonts/KlavikaWebBasicLight.eot?') format('eot'), url('../fonts/KlavikaWebBasicLight.woff') format('woff');
}

html {
  height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Klavika light', 'Exo', sans-serif;
  font-size: 15px;
  height: 100%;
}

h1 {
  margin-bottom: 40px;
}


.content {
  padding: 2em 1em;
  height: 100%;
  background: transparent;
}

.table {

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

h1.logo {
  height: 37px;
  width: 100%;
  background: transparent url('../images/logo-with-name.png') center center no-repeat;
  background-size: 260px 37px;
}
h1 {
  font-size: 28px;
  text-align: center;
}

// Badges column
.highscores tr > td:first-child {
  width: 120px;
}

.techex-badge {
  display: block;
  background: transparent center center no-repeat;
  &.techex-badge-gold {
    height: 50px;
    width: 100px;
    background-size: 34px 50px;
    background-image: url('../images/badge_gold.png')
  }
  &.techex-badge-silver {
    height: 40px;
    width: 100px;
    background-size: 27px 40px;
    background-image: url('../images/badge_silver.png')
  }
  &.techex-badge-bronze {
    height: 30px;
    width: 100px;
    background-size: 20px 30px;
    background-image: url('../images/badge_bronze.png')
  }
}

.session {
  &.session-active {
    background: #eee;
  }
  &.session-ended {
    color: #ccc;
    text-decoration: line-through;
  }
}


.program {
  padding: 0;
  width: 450px;
  margin: 0 auto;

  li {
    list-style: none;
  }
  .session {
    margin-bottom: 2.5em;
    .end {
      margin-right: 2em;
      &:before {
        content: "-";
        margin-right: 0.3em;
      }
    }

    .title {
      font-size: 1.3em;
    }
  }
  .talks {
    font-size: 0.9em;
    li {
      float: left;
      margin-right: 2em;
    }
    clear: both;
  }
}

